.idea
.vscode
.DS_Store
.swc

node_modules
dist

.env
**/*.tsbuildinfo
**/lib
*/public
**/coverage

npm-error.log
.pnpm-debug.log
.local-dev
.probes
powersync.yaml
sync-rules.yaml


packages/*/manifest.json

.clinic
target
